@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;1,700&family=Playfair+Display:ital,wght@1,800&family=Poppins&display=swap');


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*
::after ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    color: greenyellow;
    margin: 1.6rem 0;
}

/* a{
    text-decoration: none;
    margin: 1.6rem 0;
    color: black;
    font-size: 1.5rem;
    border-bottom: 2px dotted red;
} */

a{
    text-decoration: none;
    margin: 1.6rem 0;
    /* color: black; */
    
}

.site-container{
    width: 90%;
    margin: 0 auto;
}

nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav .menu a{
    border-bottom: none;
    color: red;
    font-size: 2.5rem;
    font-weight: 800;
    padding-left: 24px;
    margin: 2rem 0;
}
.mobile-menu{
    display: none;
}

h2{
    font-size: 3rem;
    letter-spacing: 1.5px;
}

@media only screen and (max-width : 768px) {
    .mobile-menu{
        display: block;
        font-size: 24px;
    }
    .menu{
        position: absolute;
        background-color: yellowgreen;
        width: 100%;
        top: 100%;
        z-index: 99;
    }
    .menu a{
        padding: 32px 0;
        font-size: 18px;
        display: block;
    }
    
}